<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alke Wallet - Depositar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <h2>Depositar</h2>
    </header>
    <main>
      <div class="form-row mb-0 mt-3">
        <div class="form-justify">
          <label for="balance">Dinero en cuenta:</label>
          <label id="balance"></label>
        </div>        
      </div>
      <form id="depositForm">
        <div class="form-group mb-2 mt-4">
          <label for="depositAmount">Monto a depositar:</label>
          <input type="number" class="form-control" id="depositAmount" placeholder="Enter amount">
        </div>
        <button type="submit" class="btn btn-primary">Realizar depósito</button>
      </form>
      <hr>
    </main>
    <footer>
      <a href="menu.html" class="btn btn-secondary">Volver al Menú Principal</a>
    </footer>
  </div>
  <script src="../data/charge_data.js"></script>
  <script src="../data/storage.js"></script>
  <script src="../assets/scripts/listeners.js"></script>
</body>
</html>